@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: Roboto, sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.header-container{
    display: flex;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

