@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: Roboto, sans-serif;
    height: 100vh;
    margin: 0;
}

.header-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2937;
    padding: 15px;
}

.header-logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
   

ul a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-container{
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    padding: 100px 270px;
}

.hero-main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.hero-img{
    background-color: gray;
    flex-basis: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-text{
    flex-shrink: 1;
    flex-basis: 500px;
}

button{
    border: none;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 7px 25px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
}

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.info-title{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.img-container{
    width: 120px;
    aspect-ratio: 1;
    flex-grow: 1;
    flex-shrink: 0;
    border: 3px solid #3882F6;
    border-radius: 10%;
}

.image-row{
    display: flex;
    gap: 50px;
    padding: 30px 0px;
}