@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: Roboto, sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.header-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2937;
}

.header-logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

